.calendar{
  border: 1px solid #e7e7e7;
    box-shadow: 0 2px 3px #ededee;
    position: relative;
    padding: 0 20px 20px 20px;
    background: #fff;
}

.calendar::before{
  content: ' ';
  display: block;
  position: absolute;
  top: 5px;
  right: -6px;
  background: #fff;
  width: 5px;
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #e7e7e7;
  opacity: 0.8;
}

.calendar::after{
  content: ' ';
    display: block;
    position: absolute;
    top: 10px;
    right: -11px;
    background: #fff;
    width: 5px;
    height: -webkit-calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: calc(100% - 20px);
    border: 1px solid #e7e7e7;
    opacity: 0.6;
}

#calendar2 {
  width: 100%;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  position: relative;
  background-color: #fff;
  min-height: 703px;
  border-collapse: collapse;
}


.arr__left, .arr__right{
  position: absolute;
    top: 0;
    left: -20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    color: #ccd1db;
    cursor: pointer;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.arr__right{
  left: auto;
    right: -20px;
    border-left: 1px solid #fff;
    border-right: 0;
}

.arr__left:hover, .arr__right:hover{
  background: #f8f9fb;
    border-color: #e7e7e7;
}

.arr__right:hover{border-right: 1px solid #e7e7e7;}

.fa-caret-right, .fa-caret-left{
  width: 1.375em!important;
}

.week{margin: 10px 0 20px;}

.week>td{
  width: 14.28%;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    color: #0bb6a2;
}

#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  line-height: 100px;
  font-size: 18px;
  color: #10bda9;
  letter-spacing: 2px;
  /* position: relative;
  top: -20px; */
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar2 tbody td {
  border: 1px solid #e7e7e7;
  background: #f9fbfd;
    width: 14.28%;
    text-align: center;
    height: 85px;
    line-height: 85px;
    cursor: pointer;
    color: #5dbaaf;
    font-weight: 500;
    z-index: 1;
    position: relative;
}

#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: #df4e4b;
}

#calendar2 tbody td.today {
  background: #10bda9;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 3px #4e9a91;
    border: none;
    line-height: 80px;
    z-index: 2;
}

.empty_cell, .empty>td{
  border: transparent!important;
  background-color: #fff!important;
}