@media (max-width: 1280px) {

    nav {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: repeat(2, 75px);
        grid-template-areas: 'nav_header . nav_user' 'nav_menu nav_menu nav_menu';
    }

    .nav__site {
        flex-grow: 1;
    }
}

@media (max-width: 992px) {

    .main {
        grid-template-columns: 250px 1fr;
        grid-template-areas: 'nav nav' 'aside aside' 'section section';
    }

    aside {
        width: calc(100% - 40px);
        margin: 20px;
        border: 1px solid #e7e7e7;
    }

    section {
        grid-template-columns: 1fr;
    }

    .events {
        height: auto;
    }

}

@media (max-width: 768px) {

    nav {
        grid-template-columns: auto 1fr;
        grid-template-rows: 75px 75px auto;
        grid-template-areas: 'nav_user    nav_user' 
                             'nav_header  nav_button'
                             'nav_menu    nav_menu';
    }

    .hide-on-small {display: none;}

    .nav__user>div:first-child {
        width: calc(50% - 75px);
        align-items: flex-end;
        border-bottom: 1px solid #e7e7e7;
    }

    .nav__header {border-right: transparent;}

    .navbar-toggle {
        display: block;
        grid-area: nav_button;
        justify-self: end;
        align-self: center;
    }

    .nav__menu.active{
        height: 406px;
        display: flex;
        transition: .9s;
    }

}

@media (max-width: 450px) {

    nav{
        grid-template-rows: 75px 75px 75px auto;
            grid-template-areas: 'nav_user   nav_user'
                                 'nav_user   nav_user' 
                                 'nav_header nav_button'
                                 'nav_menu   nav_menu';
}


    .nav__user{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 75px);
        grid-template-areas: 'site   site'
                             'owner  avatar';
    }

    .nav__user>div:first-child{
        width: auto;
    }

}